.container-wallet{
    border-radius: 0px;
    border-radius: 0px 1.5rem 1.5rem 0rem;
    color: white;
    height: 50vh;
    margin-top: 3rem;
}

.container-filter{
    height: 15rem;
    border-radius: 1rem;
}

.div-input{
    border-bottom:0.1rem solid black;
}

.input-history{
    border: none;
    -webkit-appearance: none;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.button-history{
    border: none;
    border-radius: 1rem;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    margin-top: 1.5rem;
}