body{
  background-color: #E9E7DF;
}

.back-color-green{
  background-color: #314F37;
}

.col{
  margin: 0 !important;
  padding: 0 !important;
}

.container{
  margin: 0 !important;
  padding: 0 !important;
}

p{
  margin: 0 !important;
  padding: 0 !important;
}