body{
  background-color: #E9E7DF;
}

.shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.back-color-green{
  background-color: #314F37;
  color: white;
}

.col{
  margin: 0 !important;
  padding: 0 !important;
}

.container{
  margin: 0 !important;
  padding: 0 !important;
}

p{
  margin: 0 !important;
  padding: 0 !important;
}